# Arquivos compilados Java
*.class

# Arquivos de pacote
*.jar
*.war
*.ear

# Logs
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# Arquivos temporários
*.swp
*.swo
*~
